@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,button{
  font-family:"Poppins", sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-grow: 1;
}

button,input,fieldset{
  background-color: transparent;
  border: none;
  outline: none;
}

button:hover{
   transition: all 0.3s ease;
 }
